################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/TorrentCheck/v15/Server/sqlite3
/.vs/TorrentCheck/v15/sqlite3/db.lock
/.vs/TorrentCheck/v15/sqlite3/storage.ide-shm
/.vs/TorrentCheck/v15/sqlite3/storage.ide-wal
